@model IEnumerable<EscolaApp.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Cursos</h1>
</div>

<p>
    @Html.ActionLink("Adicionar Curso", "Create", null, new { @class = "my-class" })
</p>
<table class="table custom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Designação)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalhes)
            </th>
            <th>
                @Html.DisplayName("Data de criação")
            </th>
            <th>
                @Html.DisplayName("Ultima atualização")
            </th>
            <th></th>
        </tr>
    </thead>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designação)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalhes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Editar curso", "Edit", new { id = item.IdCurso }, new { @class = "my-class" }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.IdCurso }, new { @class = "my-class" }) |
            @Html.ActionLink("Apagar curso", "Delete", new { id = item.IdCurso }, new { @class = "my-class" }) |
            @Html.ActionLink("Criar referencial", "CreateViaCurso", "Referenciais", new { idCurso = item.IdCurso }, new { @class = "my-class" })
        </td>
    </tr>
}

</table>
