@model EscolaApp.Models.Aluno

@{
    ViewBag.Title = "Delete";
}

<h3>Remover Aluno - @Model</h3>

<h3>Tem a certeza que quer remover?</h3>
<div>
    <hr />
    <dl class="dl-horizontal custom">
        <dt>
            Nome
        </dt>

        <dd>
            @Model
        </dd>

        <dt>
            Data de Nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIF)
        </dd>

        <dt>
            Data de criação 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Ultima atualização
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index",null, null, new { @class = "my-class" })
        </div>
    }
</div>
