@model IEnumerable<EscolaApp.Models.Aluno>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Alunos</h1>
</div>

<p>
    @Html.ActionLink("Adicionar aluno", "Create", null, new { @class = "my-class" })
</p>

<table class="table custom">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apelido)
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th></th>
        </tr>
    </thead>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>*@
        <td>
            @Html.ActionLink("Editar aluno", "Edit", new { id=item.IdAluno }, new { @class = "my-class" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdAluno }, new { @class = "my-class" }) |
            @Html.ActionLink("Apagar aluno", "Delete", new { id=item.IdAluno }, new { @class = "my-class" })
        </td>
    </tr>
}

</table>
