@model EscolaApp.Models.UFCD

@{
    ViewBag.Title = "Details";
}
<h3>UFCD - @Model.Designação</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designação)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designação)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalhes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalhes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duração)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duração)
        </dd>

        <dt>
            Criação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Ultima atualização
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
    <h4>Cursos que contém esta UFCD</h4>
    <ul>
        @foreach (var item in Model.Referenciais)
        {

            <li class="head">
                <span>@item.Curso.Designação</span> <br />
                <span>@Html.ActionLink($"Detalhes", "Details", "Cursos", new { id = item.Curso.IdCurso }, new { @class = "my-class" })</span>
            </li>
            <hr />
        }
    </ul>


</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUFCD }, new { @class = "my-class" }) |
    @Html.ActionLink("Voltar", "Index", null, new { @class = "my-class" })
</p>
