@model IEnumerable<EscolaApp.Models.Nota>

@{
    ViewBag.Title = "Index";
}

<h2>Notas de @ViewBag.Aluno</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            Aluno
        </th>*@
        <th>
            UFCD
        </th>
        <th>
            Nota
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @ViewBag.Aluno
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UFCD.Designação)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdNota }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdNota }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdNota })
        </td>
    </tr>
}

</table>
